---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Movie no enecontrada">

    <section class="flex flex-col gap-4 justify-center items-center flex-1">
        <h1 class="text-5xl font-bold">404</h1>
        <h2 class="text-3xl font-bold text-sky-400">Lo sentimos esta pagina no esta en la base de datos</h2>
    </section>

</Layout>