---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Nav from "../sections/Nav.astro";
import Main from "../sections/Main.astro";
---

<Layout title="MisPeliculas | Proyecto">
	<section class="section w-full h-[94dvh] rounded-xl overflow-hidden">
		<Header />
		<main class="w-full relative main_content">
			<Nav />
			<Main />
		</main>
	</section>
</Layout>

<style>
	.section {
		display: grid;
		grid-template-rows: auto 1fr;

		.main_content {
			display: grid;
			grid-template-columns: auto 1fr;
		}
	}
</style>
