---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
---

<Layout title="MisPeliculas | Proyecto">
	<section class="section">
		<Header />
		<main></main>
	</section>
</Layout>

<style>
	.section {
		display: grid;
		grid-template-columns: 1fr 5fr;
		grid-template-areas: 'header header' 'nav main';
	}
</style>
