---
import Layout from "../layouts/Layout.astro";
import AllMovies from "../components/AllMovies.astro";
import AllSeries from "../components/AllSeries.astro";
---

<Layout title="MisPeliculas | Proyecto">
	<section class="section">
        <AllMovies />
        <AllSeries />
    </section>
</Layout>