---
import CardMovie from "./CardMovie.astro"
import {movies} from "../../movies.json"
---

<section class="pt-5 relative before:content-[''] before:absolute before:w-full before:h-[2px] before:rounded-full before:[background-image:linear-gradient(90deg,#38bdf8,#0c4a6e,#0c4a6e,#38bdf8)] before:top-0 w-full">
    <h2 class="text-xl font-bold">Películas</h2>

    <div class="grid grid-cols-[repeat(auto-fill,minmax(130px,1fr))] gap-5 my-5 w-full">
        {
            movies.map(({title, image, rating})=>{
                return <CardMovie name={title} image={image} rating={rating}/>
            })
        }
    </div>

</section>