---
import Svg from "./Svg.astro"

interface Props {
    name: string
    image: string
    ratin: number
}

const { name, image, ratin} = Astro.props
---

<article class="rounded-lg overflow-hidden bg-bgs hover:shadow-xl transition-shadow duration-300 ease-in-out">
    <figure class="aspect-ratio-16/9 overflow-hidden relative group">
        <img class="w-full [aspect-ratio:1/1.4] object-cover group-hover:scale-110 group-hover:brightness-[.30]" src={image} alt="Image">
        <a href='#' class="absolute inset-0 flex justify-center items-center scale-0 group-hover:scale-100 transition-transform duration-300 ease-in-out">
            <Svg class="w-16 fill-sky-100 ">
                <path d="M231.637 168.355L231.715 168.399L231.793 168.442L341.826 228.693L342.435 229.035C352.586 234.738 358.355 244.69 358.355 256.021C358.355 267.368 352.577 277.281 342.691 282.865L231.58 343.707L231.502 343.75L231.424 343.794C226.759 346.42 221.66 347.709 216.576 347.709C211.267 347.709 205.906 346.32 200.964 343.428L200.958 343.424C191.334 337.797 185.688 327.945 185.688 316.8V195.221C185.688 184.076 191.334 174.224 200.958 168.597L200.96 168.596C210.544 162.99 221.925 162.886 231.637 168.355ZM15 256C15 123.122 123.122 15 256 15C388.878 15 497 123.122 497 256C497 388.878 388.878 497 256 497C123.122 497 15 388.878 15 256ZM27.6667 256C27.6667 381.916 130.084 484.333 256 484.333C381.916 484.333 484.333 381.916 484.333 256C484.333 130.084 381.916 27.6667 256 27.6667C130.084 27.6667 27.6667 130.084 27.6667 256Z"/>
            </Svg>
        </a>
    </figure>
    <footer class="flex flex-col gap-2 px-4 py-2">
        <h3 class="text-center truncate text-sm">{name}</h3>
        <span class="flex items-center gap-2 text-xs">
            <Svg class="w-4 fill-yellow-500">
                <path d="M74.2806 279.533H74.3256L37.2477 252.425C28.0853 245.726 21.2742 236.303 17.7872 225.501C14.3003 214.7 14.3158 203.073 17.8317 192.281C21.3476 181.49 28.1839 172.085 37.3642 165.41C46.5418 158.738 57.5927 155.136 68.9393 155.117C68.9426 155.117 68.946 155.117 68.9493 155.117L162.133 155.117H173.074L176.416 144.7L204.726 56.4652L204.727 56.4612C208.209 45.5985 215.05 36.1223 224.266 29.3991C233.481 22.6759 244.593 19.0531 256 19.0531C267.407 19.0531 278.519 22.6759 287.734 29.3991C296.95 36.1223 303.791 45.5985 307.273 56.4612L307.274 56.4652L335.584 144.7L338.926 155.117H349.867L443.136 155.117C443.139 155.117 443.143 155.117 443.146 155.117C454.493 155.136 465.543 158.738 474.721 165.41C483.901 172.085 490.738 181.49 494.254 192.281C497.769 203.073 497.785 214.7 494.298 225.501C490.812 236.3 484.003 245.721 474.844 252.42C474.842 252.422 474.84 252.423 474.838 252.425L398.897 307.887L390.136 314.285L393.47 324.609L422.312 413.931C422.312 413.932 422.312 413.932 422.312 413.932C425.811 424.77 425.784 436.438 422.234 447.259C418.683 458.081 411.793 467.498 402.553 474.156C393.314 480.815 382.2 484.372 370.812 484.317C359.423 484.261 348.345 480.596 339.171 473.847L339.166 473.844L264.883 419.252L255.993 412.719L247.109 419.258L172.847 473.914L172.777 473.966L172.708 474.018C163.625 480.866 152.573 484.597 141.198 484.654C129.822 484.711 118.733 481.091 109.583 474.333L109.443 474.23L109.3 474.13C99.9894 467.582 93.0438 458.201 89.4991 447.384C85.9544 436.567 86.0004 424.895 89.6302 414.106L89.6594 414.019L89.6876 413.932L118.53 324.609L121.864 314.285L113.103 307.887L74.2806 279.533Z"/>
            </Svg>{ratin}
        </span>
    </footer>
</article>

<style>
    figure{
        img{
            transition: 
                transform 300ms ease-in-out,
                filter 300ms ease-in-out;
        }
    }
</style>