---
import Svg from "../components/Svg.astro";
---

<header class="flex items-center gap-4 h-16 px-3 bg-bgs shadow-lg z-50 [grid-area:header] rounded-t-xl sticky top-4">
  <article class="flex items-center justify-between w-full">
    <a class="menu cursor-pointer md:hidden">
      <Svg class="w-6 fill-sky-100 transition-colors duration-300 ease-in-out pointer-events-none">
        <path
          d="M480 134.333H170.667C166.158 134.333 161.834 132.542 158.646 129.354C155.458 126.166 153.667 121.842 153.667 117.333C153.667 112.825 155.458 108.501 158.646 105.312C161.834 102.124 166.158 100.333 170.667 100.333H480C484.509 100.333 488.833 102.124 492.021 105.312C495.209 108.501 497 112.825 497 117.333C497 121.842 495.209 126.166 492.021 129.354C488.833 132.542 484.509 134.333 480 134.333Z"
        ></path>
        <path
          d="M170.667 249.667H480C484.509 249.667 488.833 251.458 492.021 254.646C495.209 257.834 497 262.158 497 266.667C497 271.175 495.209 275.499 492.021 278.688C488.833 281.876 484.509 283.667 480 283.667L170.667 283.667C166.158 283.667 161.834 281.876 158.646 278.688C155.458 275.499 153.667 271.175 153.667 266.667C153.667 262.158 155.458 257.834 158.646 254.646C161.834 251.458 166.158 249.667 170.667 249.667Z"
        ></path>
        <path
          d="M170.667 399H480C484.509 399 488.833 400.791 492.021 403.979C495.209 407.167 497 411.491 497 416C497 420.509 495.209 424.833 492.021 428.021C488.833 431.209 484.509 433 480 433H170.667C166.158 433 161.834 431.209 158.646 428.021C155.458 424.833 153.667 420.509 153.667 416C153.667 411.491 155.458 407.167 158.646 403.979C161.834 400.791 166.158 399 170.667 399Z"
        ></path>
        <path
          d="M91.6667 117.333C91.6667 138.504 74.5042 155.667 53.3333 155.667C32.1624 155.667 15 138.504 15 117.333C15 96.1624 32.1624 79 53.3333 79C74.5042 79 91.6667 96.1624 91.6667 117.333Z"
        ></path>
        <path
          d="M91.6667 256C91.6667 277.171 74.5042 294.333 53.3333 294.333C32.1624 294.333 15 277.171 15 256C15 234.829 32.1624 217.667 53.3333 217.667C74.5042 217.667 91.6667 234.829 91.6667 256Z"
        ></path>
        <path
          d="M91.6667 405.333C91.6667 426.504 74.5042 443.667 53.3333 443.667C32.1624 443.667 15 426.504 15 405.333C15 384.162 32.1624 367 53.3333 367C74.5042 367 91.6667 384.162 91.6667 405.333Z"
        ></path>
      </Svg>
    </a>

    <div class="logo">
      <a class="text-2xl font-extrabold hidden md:block" href="/">Mis<span class="text-sky-400">Peliculas</span><span class="text-xs">.com</span></a>
    </div>

    <div class="flex items-center justify-center gap-3 relative">
      <button
        class="icon flex items-center justify-center absolute right-0 cursor-pointer w-9 h-9 outline-none [border-style:none] rounded-full [pointer-events:painted] bg-transparent transition-all duration-200 ease-in-out"
      >
        <Svg class="w-4 fill-sky-100">
          <path
            d="M504.352,459.061l-99.435-99.477c74.402-99.427,54.115-240.344-45.312-314.746S119.261-9.277,44.859,90.15   S-9.256,330.494,90.171,404.896c79.868,59.766,189.565,59.766,269.434,0l99.477,99.477c12.501,12.501,32.769,12.501,45.269,0   c12.501-12.501,12.501-32.769,0-45.269L504.352,459.061z M225.717,385.696c-88.366,0-160-71.634-160-160s71.634-160,160-160   s160,71.634,160,160C385.623,314.022,314.044,385.602,225.717,385.696z"
          ></path>
        </Svg>
      </button>
      <input
        class="input w-9 h-9 bg-sky-400 [border-style:none] p-2 outline-none rounded-full transition-all duration-500 ease-in-out text-sky-200 placeholder:text-sm placeholder:text-sky-300/10 placeholder:px-3"
        name="buscar"
        id="buscar"
        placeholder="Buscar..."
      />
    </div>
  </article>
</header>

<style>
  .icon:focus ~ .input,
  .input:focus {
    width: 200px;
    background-color: transparent;
    border-bottom:1.5px solid;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 1.32);

    @apply border-sky-400 placeholder:text-sky-50/30 md:w-[360px];
  }

  .menu.active svg{
    @apply fill-sky-400;
  }

</style>

<script>
  const $menu = document.querySelector(".menu");
  const $nav = document.querySelector(".nav");
  $menu?.addEventListener("click", () => {
    $nav?.classList.toggle("active");
  });
</script>
